:root {
	--vivid-blue: #0E5FE3;
	--black: #191919;
	--lightgreyishblue: #F6F7F8;
	--dark-blue: #0A49AF;
	--skyblue: #2AB7FE;
}

* {
  font-family: Nunito Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#navbar {
	background-color: rgba(14, 95, 227, 0.8);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	width: 100%;
	z-index: 200;
	color: white;
	font-weight: bold;
}

#navbar > .container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding: 20px 25px;
	max-width: 1158px;
}

#logo-container {
	height: 100%;
	flex: 1 1 auto;
}

#logo {
	display: inline;
	max-height: 100%;
}

.menu {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu ul {
	width: 100%;
	list-style: none;
	text-align: center;
}

.menu li {
	width: 100%;
	height: 50px;
}

.menu a {
	text-decoration: none;
	color: white;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#burger-menu {
	height: 100%;
	width: 30px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	cursor: pointer;
}

.burger-bar {
	width: 100%;
	height: 3px;
	background-color: white;
	border-radius: 0.5em;
}

.hidden {
	display: none;
}

.visible {
	display: inherit;
}

.burger-bar.clicked:nth-child(1) {
	transform: rotate(45deg) translate(6px, 6px);
	transition: ease-out 0.3s;
}

.burger-bar.clicked:nth-child(2) {
	transform: scale(0);
	transition: ease-out 0.3s;
}

.burger-bar.clicked:nth-child(3) {
	transform: rotate(135deg) translate(-6px, 6px);
	transition: ease-out 0.3s;
}

.burger-bar.unclicked {
	transform: rotate(0) translate(0);
	transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}

.section > .container {
	padding: 40px 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	height: 100%;
}

#header {
	height: 100vh;
	background: transparent linear-gradient(0deg, #0A49AF 0%, #0E5FE3 86%, #0E5FE3 100%) 0% 0% no-repeat padding-box;
	color: white;
	text-align: center;
	padding-top: 20px;
}

#header > .container {
	height: 100%;
}

#header-content > *, .container > * {
	width: 100%;
	max-width: 460px;
}

#header-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
}

#header-content h2 {
	font-size: 36px;
}

#header-content p {
	font-size: 16px;
	letter-spacing: 0.07px;
	line-height: 1.5rem;
}

button {
	font-weight: 600;
	color: white;
	border: none;
	padding: 13px 15px;
	border-radius: 6px;
	white-space: nowrap;
	font-size: 100%;
	background: var(--skyblue);
	cursor: pointer;
}

#solutions h2 {
	text-align: center;
	font-weight: 400;
	color: var(--dark-blue);
	font-size: 30px;
	margin-bottom: 30px;
}

#solutions-cards {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.solutions-card {
	box-shadow: 0px 5px 15px #00000026;
	border-radius: 5px;
	margin: 0 5px;
}

.card-img {
	height: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.solutions-card img {
	width: 100%;
	height: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	object-fit: cover;
}

.card-caption {
	padding: 16px;
}

.card-caption h3 {
	color: var(--dark-blue);
	margin-bottom: 10px;
	font-weight: 400;
	font-size: 24px;
}

.card-caption p, #sharing-content p {
	color: #19191999;
	font-size: 18px;
	line-height: 1.5rem;
}

.content h2 {
	color: var(--dark-blue);
	font-size: 28px;
	margin-bottom: 12px;
}

.content p {
	color: #191919CC;
	font-size: 18px;
	line-height: 1.5rem;
}

#sharing {
	background-color: var(--lightgreyishblue);
}

.section-img {
	padding: 0 21px;
	margin-bottom: 47px;
}

.desktop-only, .desktop-only > * {
	display: none;
}

@media only screen and (min-width: 990px) {
	.mobile-only, .mobile-only > * {
		display: none;
	}
	
	.desktop-only, .desktop-only > * {
		display: inherit;
	}

	.container {
		max-width: 1158px;
	}

	#navbar {
		flex-direction: row;
	}
	
	#navbar > .container {
		height: 72px;
		padding: 20px 15px;
	}

	#logo-container {
		max-height: 30px;
	}

	button {
		max-height: 40px;
	}

	#navbar ul {
		list-style: none;
		display: flex;
		align-items: center;
		gap: 24px;
	}
	
	#navbar-links {
		flex: 1 1 auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	#navbar-accounts {
		display: flex;
		align-items: center;
		flex: 1 1 auto;
		justify-content: flex-end;
		gap: 25px;
	}
	
	#navbar a {
		text-decoration: none;
		color: white;
	}

	#solutions {
		position: relative;
		z-index: 100;
		background: white;
	}

	#header-content > *, .container > * {
		max-width: none;
		position: relative;
		z-index: 100;
	}

	.banner-img {
		max-width: 611px;
	}

	#header {
		height: 651px;
		padding-top: 64px;
	}
	
	#header > .container {
		flex-direction: row;
		justify-content: space-between;
		position: relative;
	} 
	
	#header-content {
		height: 268px;
		width: 445px;
		text-align: left;
		align-items: flex-start;
		justify-content: space-between;
	}

	#header-content > button {
		width: max-content;
	}

	#background-circle {
		position: absolute;
		z-index: 0;
		right: 0;
		height: 650px;
		width: 650px;
		max-width: none;
		border-radius: 50%;
		border: 100px solid var(--vivid-blue);
		opacity: 0.6;
	}

	#solutions > .container {
		padding: 80px 15px;
	}

	#solutions h2 {
		margin-bottom: 68px;
	}

	#solutions-cards {
		flex-direction: row-reverse;
		gap: 68px;
	} 

	#sharing > .container, #signing > .container {
		padding: 64px 15px;
		justify-content: space-between;
	}

	#sharing > .container {
		flex-direction: row-reverse;
	}

	#signing > .container {
		flex-direction: row;
	}

	.content {
		max-width: 445px;
	}

	.content h2 {
		margin-bottom: 16px;
	}

	.section-img {
		max-width: 429px;
		margin: 0 54px;
		padding: 0;
	}
}